.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 2em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.question-form {
  margin-top: 2em;
}

.btn-primary {
  width: 100%;
}

.btn-add-answer {
  margin-bottom: 30px;
}

.question-list-container {
  margin-top: 30px;
}

.question-list {
  list-style: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0;
}

.question-item {
  border-bottom: 1px solid grey;
  padding: 5px;
}

.question-item:last-child {
  border-bottom: none;
}

.question-item-toggle {
  cursor: pointer;
}

.badge.filter-badge {
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 0;
}

.question-list-container {
  position: relative;
}

.filter-container {
  background-color: #efefef;
  border: 1px solid #c8c8c8;
  border-radius: 1px;
  padding: 5px;
}

.tag-filter-checkbox {
  margin-right: 1.5em;
  display: inline-block;
  background-color: #fffc85;
  border-radius: 3px;
  padding: 0 8px;
  margin-bottom: 4px;
}

.tag-filter-checkbox label {
  margin-left: 0.5em;
  position: relative;
  top: 2px;
}

.filter-all-checkboxes {
  text-align: right;
}